<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <div class="panel panel-primary">
        <div class="panel-heading text-center">Edit Profile</div>
        <div class="panel-body">

          <%= render 'form' %>
          <br>
          <div class="text-center">
            <% if  @profile && @profile.photo.nil? %>
              <p>no picture</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
