<div class="container", style="padding: 90px">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <div class="panel panel-primary">
        <div class="panel-heading text-center">Edit Profile</div>
        <div class="panel-body">

          <%= render 'form' %>
          <br>
          <div class="text-center">
            <% if  @profile && !@profile.photo.path.nil? %>
              <%= cl_image_path @profile.photo, class: "avatar-very-large " %>
            <% else %>
              <p>no picture</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



@profile.photo

PhotoUploader.where(profile_id: @profile.id)
