
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <div class="panel panel-primary">
        <div class="panel-heading text-center">New Listing</div>
        <div class="panel-body">

          <%= render 'form' %>

        </div>

      </div>
      <%= link_to listings_path do %>
      <i class="fa fa-chevron-left fa-4x"></i>
      <% end %>
    </div>


  </div>

</div>

</div>
