<div class="container", style="padding: 100px">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h1>Bookings#create</h1>
      <p>Find me in app/views/bookings/create.html.erb</p>
    </div>
  </div>
</div>
