<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
      <%= link_to root_path do %>
          <%= cl_image_tag "habitat_logo_1_nyescm", style: "width:150px" %>
          <% end %>
          <p>Matchmaking home rental</p>
      </div>


      <div id="footer-section">

          <div class="footer-group">
            <p>About</p>
            <a href="">About us</a>
            <a href="">Terms/Conditions</a>
          </div>

          <div class="footer-group">
            <p>How it works</p>
            <a href="">The match</a>
            <a href="">Pricing</a>
            <a href="">Contract suport</a>
          </div>

          <div class="footer-group">
            <p>Help</p>
            <a href="">FAQ</a>
            <a href="">Support</a>
          </div>

          <div class="footer-group">
            <p>Contact</p>
            <a href="">Email</a>
            <a href="">Facebook</a>
            <a href="">Twitter</a>
            <a href="">LinkedIn</a>
            <a href="">Instagram</a>
          </div>

      </div>
    </div>
  </div>
</div>

















