<div class="fleft">
    <div class="title">
        <h1 class="title-h1" id="banner-left-first-text">
          Matchmaking home rental!
        </h1>
        <h2 class="title-h2">
          Find the right place and the right
          people to live with.
        </h2>
        <% if user_signed_in? %>
          <%= link_to "Get Started", listings_path, class: "btn btn-primary btn-lg banner-button"  %>
        <% else %>
          <%= link_to "Get Started", new_personality_path, class: "btn btn-primary btn-lg banner-button"  %>
        <% end %>
        <h3 class="title-h3">
          <%= link_to  listings_path do %>
            See all <strong><%= Listing.count %> listings</strong> available in Amsterdam <i class="fa fa-chevron-right"></i>
          <% end %>
        </h3>
    </div>
  </div>







