<div class="fright">
  <div class="listing-image" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(60,60,80,0.6) 20%), url('<%= cl_image_path "room_if6zlj" %>');">
    <div class="bottom-info">
        Single room in De Pijp
        <a class="btn btn-primary btn-lg listing-button" href="">Get €790/m</a>
    </div>
  </div>
</div>
