<div class="container background">
  <div class="row row-marging">
    <h2 class="text-center marging-top main">
    Renting your place? List it on Habitat, <span class="main-bold">for free!</span>
    </h2>
    <p class="text-center margin-bottom sec">
      Habitat lets you <span class="sec-bold">match your profile </span>with possible tenants <br>
      and goes with you <span class="sec-bold">throughout all the renting process</span>, from managing <br>
      interested people to the actual contract signature.
    </p>

    <input type="submit" class="btn btn-primary btn-lg action-button" value="Get Started">
  </div>
</div>
