<!--<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="http://res.cloudinary.com/dc2fg86gy/video/upload/Keep_Running_xwkedf" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="http://res.cloudinary.com/dc2fg86gy/video/upload/Keep_Running_xwkedf" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>

    </div>
</div>


-->
<!-- background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(60,60,80,0.6) 0%), -->
<div class="banner" style=" background: url('<%= cl_image_path "room_if6zlj" %>')">

    <div class="banner-content">


    </div>
  </div>

