<div class="wrap" style="padding-top: 0px">
    <div class="fleft">
      <div class="title">

          <h1>Matchmaking home rental!</h1>
          <h2>Find the right place and the right
            people to live with.</h2>


          <% if user_signed_in? %>
            <%= link_to "Get Started", listings_path, class: "btn btn-primary btn-lg banner-button"  %>
            <!-- <input type="submit" class="btn btn-primary btn-lg banner-button" value="Get Started"> -->
          <% else %>
            <%= link_to "Get Started", new_personality_path, class: "btn btn-primary btn-lg banner-button"  %>
          <% end %>

          <h3><%= link_to "See all <strong>132 listings</strong> available in Amsterdam "'<i class="fa fa-chevron-right"></i>'.html_safe , listings_path %> </i></h3>

      </div>
    </div>

    <div class="fright">
      <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(60,60,80,0.6) 20%), url('<%= cl_image_path "room_if6zlj" %>');">
      </div>
    </div>
  </div>

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Why Habitat?</h2>
      <div class="row">
        <div class="listing-cards col-xs-12 col-md-4">

        </div>
     </div>
    </div>
  </div>

<div class="container text-center padded">
  <div class="container">
    <h2 class="text-center">How It Works</h2>
      <div class="row">
        <div class="listing-cards col-xs-12 col-md-4">

        </div>
     </div>
    </div>
  </div>

