#footer {
  background-color: #F7F7F7;
  color: #CCCCCC;
  font-size: 25px;
  padding: 30px 0;
}

#footer p {
  font-size: 15px;
  margin-top: 4px;
  color: #46237A;
  font-weight: 600;
}

#footer a {
  color: #8e8e8e;
  font-size:14px;
  line-height:22px;
  font-weight:300;
  text-decoration:none;
  display:block;
}

#footer a:hover {
  text-decoration:underline;
  }

#footer-section {
  position: relative;
  padding:0px 0px 0px 0px;
  left: 160px;
  margin-right: 10px;
}

.footer-group {
  float:left;
  margin:0px 80px 0px 0px;
}






