

.navbar-container {
  width: 1400px;
}


.navbar-habitat-brand {
  width: 150px;
  position: absolute;
  left: 16px;
}
.nav{
  position: absolute;
  right: 16px;
}

// .nav a {
//   background-color:transparent !important;
// }

.nav li a {
  color: #191919;
  font-weight:300;
  font-size: 14px;
  font-weight: normal;
}

.nav li:hover a {
    border: none;
    background: none;
    color: #4c4c4c;
}

/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: #FFF;
    // color: white;
    height: 60px;
    border-bottom: 0px;
    // transition: background-color .5s ease 0s;
    padding: 6px 8px;
    color: black;
}



.navbar-nav .navbar-button {
  color: #191919 !important;
  font-weight: bold;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #FFFC31;
  border-radius: 0.2em;
  margin-top : 6px;
}

.navbar-nav .navbar-button:hover {
  background-color: #ffe100 !important;
}



