<div class="text-center">
  <h1 style="color: black">Personality Test Result</h1>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">

      <% @results.each do |result| %>
        <%= cl_image_tag result, height: 1920, width: 2880, class: "personality_photo"%>
      <% end %>


      </div>
    </div>
  </div>

  <br>
  <% if !current_user %>
    <%= link_to "See Recommended Listings", listings_path, class: "btn btn-primary"  %>
  <% else %>
    <%= link_to "Done", root_path, class: "btn btn-primary"  %>
  <% end %>
</div>
