.listing-image {
  color: white;
  height: 800px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  border-radius: 0px 0px 0px 0px;
}


.bottom-info {
  position: absolute;
  bottom:0;
  padding:20px;
  right: 0;
}

.listing-button {
  color: white;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  background-color: #0846BA;
  border-color: #0846BA;
  border-radius: 0.2em;
}
.listing-button:hover {
  background-color: #469AE0;
}



.fright {
  position: relative;
  float: right;
  height: 800px;
  width: 50%;
}

