// .banner-container {
//   width: 1400px;
//   padding: 15px 50px 15px 50px;
//   background: yellow;
// }

div.header_div{
  display:table;
  background-color: #ffffff;
  display: inline-block;
  padding: 15px 50px 15px 50px;
}

div.right{
  display: inline-block;
  /*float: right; */
  text-align: right;
  vertical-align: middle;
  padding-right: 15px;
}

.inner {
  display: inline-block !important;
  vertical-align: middle !important;
  background: yellow;
  padding: 3px 5px !important;
}

.block2 {
  background: orange;
  height: 80px;
}

.banner {
  color: white;
  // text-align: center;
  height: 800px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  // justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.title {
  color: #191919;
  text-align: left;
  height: 50vh;
  align-items: center;
  justify-content: center;
  padding-top: 40%;
  padding-left: 20%;
  padding-right: 10%;
}

.title_empty {
  color: black;
  text-align: left;
  height: 50vh;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
}

.title-h1 {
  margin-bottom: 10px;
  margin-top: 0;
}

.title-h2 {
  margin-bottom: 30px;
  margin-top: 0;
}

.title-h3 {
  margin-top: 100px;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.search-input {
  border-radius: 0.4em;
}

.banner-button {
  padding: 0 20px;
  border-radius: 0.4em;
  line-height: 40px;
  font-weight: bold;
  background-color: #0846BA;
  font-size: 14px;
  border: 2px solid #0846BA;
}

.banner-button:hover {
  padding: 0 20px;
  border-radius: 0.4em;
  line-height: 40px;
  font-weight: bold;
  background-color: #2176FF;
  font-size: 14px;
  border: 2px solid #2176FF;
}

// .banner .btn {
//   background-color: #C4BF9C;
//   opacity: 0.95;
//   border: 1px solid;
//   border-radius: 0.5em;
// }

.banner .btn:hover {
  color: red;
  background: #8C865F;
  border-color: #8C865F;
}

.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.wrap {
width: 100vw;
display: flex;
justify-content: space-between;
}


.fright {
  float: right;
  height: 000px;
}

.fleft {
flex: 0 0 50%;
  background: white;
  height: 800px;
}
