.banner-container {
  width: 1400px;
  // padding: 15px 50px 15px 50px;
  // background: yellow;
  position: relative;
  bottom: -360px;
  right: -190px;
  // margin-bottom: -5px !important;
  // margin-right: -15px !important;
}

.navbar-nav .listing-button {
  color: white !important;
  font-weight: normal;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #0846BA;
  border-radius: 0.2em;
  margin-top : 6px;
}

.navbar-nav .listing-button:hover {
  color: #white !important;
  font-weight: normal;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #0846BA;
  border-radius: 0.2em;
  margin-top : 6px;
}

.navbar-nav .title-text {
  color: white !important;
  font-weight: bold !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

.navbar-nav .title-text:hover {
  color: white !important;
  font-weight: bold !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

#navbar-nav-landing-page {
  margin-bottom: 400px;
}


 // .navbar-nav .navbar-button:hover {
 //   background-color: #ffe100 !important;
 // }
