.card {
  height: 230px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin: 20px 0;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-title {
  position: absolute;
  top: -10px;
  left: 10px
}

.card-category {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 18px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-avatar {
  width: 50px;
  height: 50px;
  background-size: center;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.card-list {
  font-size: 15px;
  color: #586E75;
}
.listing-cards {
  opacity: 1;
  transition: opacity 0.3s;
}
.listing-cards:hover {
  text-decoration: none;
  opacity: 0.8;
}
.listing-cards > a:hover {
  text-decoration: none;
  color: white;
}
