.personality_photo {
  max-width: 150px !important;
  max-height: 110px !important;
  border-radius: 3px !important;
}

.card-payment {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

.card-sign {
    border-style: solid;
    border-width: 1px;
    border-color: green;
}

.card {
  height: 230px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 4px;
  margin: 20px 0;
  margin-bottom: 80px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-right-top {
  position: absolute;
  right: 5px;
  top: 5px;
}


.card-title {
  position: absolute;
  top: -10px;
  left: 10px
}

// .card-category {
//   position: absolute;
//   top: 30px;
//   left: 30px;
//   font-size: 10px;
//   text-transform: uppercase;
// }

.card-category {
  position: absolute;
  top: 240px;
  left: 20px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: normal;
  color: #191919;
}

// .card-price {
//   position: absolute;
//   top: 260px;
//   left: 20px;
//   font-size: 20px;
//   text-transform: capitalize;
//   font-weight: bold;
// }

// .card-description {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }

.card-description {
  position: absolute;
  // bottom: 10px;
  left: 20px;
  margin-top: -50px;
  text-transform: capitalize;
  font-weight: normal;
  color: #191919 !important;
  // margin-bottom: 30px;
}


.card-description h2 {
  font-size: 32px;
  text-decoration: none !important;
  color: #191919 !important;
}

.card-description p {
  font-size: 20px;
  text-decoration: none !important;
  color: #191919 !important;
}

.card-description a {
  font-size: 16px;
  text-decoration: none !important;
  color: #191919 !important;
}

.card-price {
  font-size: 16px !important;
  color: #b5b5b5 !important;
  text-decoration: none !important;
}

.card-price a {
  color: #b5b5b5 !important;
  text-decoration: none !important;
}

.card-price .price-color {
    color: #1ca83d !important;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-link:hover{
  opacity: 0.1;
}

.card-avatar {
  width: 50px;
  height: 50px;
  background-size: center;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.card-list {
  font-size: 15px;
  color: #586E75;
}
.listing-cards {
  opacity: 1;
  transition: opacity 0.3s;
}
.listing-cards:hover {
  text-decoration: none;
  opacity: 0.8;
}
.listing-cards > a:hover {
  text-decoration: none;
  color: white;
}
