

.login-button {
  margin : 0px auto;
  padding: 0 20px;
  border-radius: 0.4em;
  line-height: 40px;
  font-weight: bold;
  background-color: #0846BA;
  font-size: 14px;
  border: 2px solid #0846BA;
}

.login-button:hover {
  padding: 0 20px;
  border-radius: 0.4em;
  line-height: 40px;
  font-weight: bold;
  background-color: #2176FF;
  font-size: 14px;
  border: 2px solid #2176FF;
}

.total-price {
  font-size: 22px;
  position: relative;
  color: #191919;
  // text-align: left;
  font-weight: normal !important;
  text-decoration: none !important;
  // bottom: 45px !important;
  // right: -15px !important;
}
