.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  min-height: 80vh;
  padding-top: 70px;
}

// body {
//     padding-top: 70px;
//     min-height: 100vh;
// }

h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: normal;
}

h2 {
  font-size: 28px;
  font-weight: 900;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

.marging-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.container-bg {
  background: #F7F7F7;
  width:100%;
  position: relative;
  left: 0px;  /* stick it wherever it was positioned by default */
  top: 0px;
}

.div-margin {
  margin-right: 130px;
  margin-left: 130px;
  // margin-bottom: 50px;
}

.row-marging {
  margin-bottom: 40px;
}



.wrap {
    width: 100%;
    overflow:auto;
}

.fleft {
  float: left;
  width: 50%;
  background: white;
  height: 800px;
}

a {
  color: #0846BA;
}

a:hover {
  color: #2176FF;
  text-decoration: none;
}


.fright {
  float: right;
  width: 50%;
  height: 800px;
}




