.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.home {
  .Site-content {
    padding-top: 0;
  }
}


.Site-content {
  flex: 1;
  min-height: 80vh;
  padding-top: 62px;
}

// body {
//     padding-top: 70px;
//     min-height: 100vh;
// }

h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: normal;
}

h2 {
  font-size: 28px;
  font-weight: 900;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

.listings-title {
  font-size: 28px;
  font-weight: normal;
  position: relative;

  top: 30;
  left: 20px;
}

.listings-comment {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  margin-bottom: 10px;
  left: 20px;
}

.title-h3 {
  margin-top: 100px;
}

.marging-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}


// .container{
//   width: 1410px;
// }

.container-bg {
  background: #F7F7F7;
  width:100%;
  position: relative;
  left: 0px;  /* stick it wherever it was positioned by default */
  top: 0px;
}

.div-margin {
  margin-right: 130px;
  margin-left: 130px;
  // margin-bottom: 50px;
}

.div-margin-ad {
  margin-right: 130px;
  margin-left: 32px;
  // margin-bottom: 50px;
}




.div-margin_ad {
  // margin-right: 130px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.row-marging {
  margin-bottom: 40px;
}


.wrap {
    width: 100%;
    overflow:auto;
}


a {
  color: #0846BA;
}

.list-your-place-bg {
  background: #FFFC31;
  width:100%;
  position: relative;
  left: 0px;  /* stick it wherever it was positioned by default */
  top: 0px;
  border-radius: 0.6em;
  margin-top: 100px;
}



.ad-button1 {
  padding: 0 20px;
  border-radius: 0.4em;
  line-height: 40px;
  font-weight: bold;
  background-color: #0846BA;
  font-size: 14px;
  border: 2px solid #0846BA;
  margin-right: -950px;
  margin-top: 20px;
}







