.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  min-height: 80vh;
}

// body {
//     padding-top: 70px;
//     min-height: 100vh;
// }

h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 0;
}

h2 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 30px;
  margin-top: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 100px;
}

a {
  color: #0846BA;
}

a:hover {
  color: #2176FF;
  text-decoration: none;
}





